.DS_Store
.env
.env.*
node_modules/
dist/
build/
coverage/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.idea/
screenshots/
server/.env
server/screenshots/
client/dist/
server/db/*.db
server/db/*.db-*
